body{
  padding: 20px;
}

.buttons{
  display: flex;
  flex-wrap: wrap;
  gap:5px;
}

.buttons button{
  font-size: 24px;
  border: none;
  background: #b6f9ff;
  width: 38px;
  height: 38px;
  border-radius: 5px;
  cursor: pointer;
}

.buttons button:hover{
  background: #49f0ff;
}



.buttons button.guessed{
  display: none;
}

.letters{
  display:flex;
  margin-bottom: 20px;
}

.letters span{
 
  width: 34px;
  height: 34px;
  margin-right: 5px;
  border:2px solid #387af4;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  border-radius: 5px;
}

.hidden{
  display: none;
}

